<td><%= Asset.find(cart_line[0]).name %></td>
<td><%= cart_line[1] %></td>
<td>
	<%= link_to '(edit)', edit_cart_path(cart_line[0]) %>
	<%= link_to '(x)', cart_path(cart_line[0]), :method => :delete %>
</td>
