<h2><%= t('asset.editing') %></h2>

<%= render :partial => 'form', :locals => { :asset => @asset, :bt_name => t('update') } %>

<%= link_to_back admin_assets_path %>
<%= link_to_show [:admin, @asset] %>
