<h2><%= t('asset.editing') %></h2>

<%= render :partial => 'form', :locals => { :asset => @asset, :bt_name => t('update') } %>

<%= link_to t('show'), [:admin, @asset] %> |
<%= link_to t('back'), admin_assets_path %>
