<%= render :partial => 'shared/user_sidebar' %>

<% block :title => 'My validated deposites' do%>
	<%= render :partial => 'table', :locals => { :deposites => @validated_deposites } %>
<% end %>

<% block :title => 'My waiting deposites' do %>
	<%= render :partial => 'table', :locals => { :deposites => @waiting_deposites } %>
<% end %>

<p><%= link_to 'New deposite', new_deposite_path %></p>
