<%= render :partial => 'shared/user_sidebar' %>

<% block :title => t('deposite.validated') do%>
	<%= render :partial => 'table', :locals => { :deposites => @validated_deposites } %>
<% end %>

<% block :title => t('deposite.waiting') do %> 
	<%= render :partial => 'table', :locals => { :deposites => @waiting_deposites } %>
<% end %>

<p><%= link_to t('deposite.new'), new_deposite_path %></p>
