html, body {
	height: 100%;
	margin: 0 auto;
	padding: 0;
	
	background-color: #3f3720;
}

hr.spacer {
	visibility: hidden;
	clear: both;
}

/* Page */
div#page {
	width: 822px;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
	
	background-color: #a19062;
}

/* Header */
#header {
	background-image: url('/images/header/tribal.jpg');
	background-repeat: no-repeat;
	background-position: center;
	
	height: 250px;
	margin: 0;
	padding: 0;
}

div#header :first-child {
	margin: 0;
}

#header_text {
	position: relative;
	left: 400px;
	top: 50px;
	
	width: 400px;
	height: 150px;
	
	text-align: center;
}

/* Top bar */
#topbar {
	height: 25px;
	
	font-family: Verdana, Arial;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	vertical-align: middle;
	line-height: 25px;
	margin-right: 11px;
	margin-left: 11px;
	
	background-image: url('/images/global/cellpic1.gif');
	background-repeat: repeat-x;
}

div#topbar :first-child {
	margin: 0;
}

#topbar li {
	float: left;
	list-style: none;
	
	padding: 0px 10px 0 0;
}

#topbar a {
	color: #ffffff;
	text-decoration: none;
}

#topbar a:hover {
	color: #3f3720;
}

/* Center part */
#center {
	clear: both;
	
	padding: 20px 10px 10px 10px;
}

/* Main part*/
#main_part {
	width: 74%;
	
	margin-bottom: 0;
	padding-bottom: 4em;

}

/* Side bar*/
#sidebar {
	width: 25%;
	float: right;
}

#sidebar li{
	list-style: none;
}

/* Footer */
#footer {
	position: absolute;
	bottom: 0px;
	width: 98%;
	margin: 0 1% 0 1%;
	height: 25px;
	line-height: 25px;
	
	clear: both;
	/*border-width: 1px;
	border-style: solid;
	border-color: #696464;*/
	
	background-image: url('/images/global/cellpic1.gif');
	background-repeat: repeat-x;
	/*-moz-border-radius: 20px;*/
	
	font-size: 15px;
	text-align: center;
}

/* Links */
img {
	border-style: none;
}

/* Flash */
.flash {
	font-weight: bold;
}

.flash.notice {
	color : green;
}

.flash.warning {
	color : orange;
}

.flash.error {
	color: red;
}

/* Forms */
label:after {content:" : ";}
label.differential:after {content: " + ";}


.required {
	font-size: small;
	color: red;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: inline-block;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Blocks */
.block {
	margin: 10px 0 10px 0;
}

.block.mini {
	width: 45%;
	margin: 10px;
	float: left;
}

.block_header {
	background-image: url('/images/global/cellpic1.gif');
	height: 25px;

	-moz-border-radius-topright: 20px;
	-moz-border-radius-topleft: 20px;
	
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	line-height: 25px;
	font-weight: bold;
	font-family: Verdana, Arial;
	font-size: 11px;
}

.block_body {
  border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 0px;
	border-style: solid;
	border-color: #696464;
	
	padding: 5px;
	
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
}

/* Tables */
table {
	width: 90%;
	margin: 0 auto;
	border-collapse: collapse;
}

th {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

tr.even {
	background-color: #77683c;
}

tr.odd {
	
}

td {
	padding-left: 5px;
	padding-right: 5px;
}

td.actions {
	text-align: center;
}

td.number {
	text-align: right;
}

td.number.negative {
	font-weight: bold;
	color: red;
}

td.currency {
	text-align: right;
}

/* Categories */
#categories {
	width: 100%;
}

.category {
	text-align: center;
}

/* Assets */
.asset {
	float:left;
	margin: 5px;
	
	min-height: 115px;
	min-width: 175px;
	max-width: 175px;
	
	border-style: solid;
	border-width: thin;
	border-color: #696464;
	
	text-align: center;
}
