= f.association :asset, :wrapper_tag => :td, :label => false, :collection => Asset.order(:name), :include_blank => false
= f.input :quantity, :wrapper_tag => :td, :label => false
= f.input :unitaryPrice, :wrapper_tag => :td, :label => false

