%h2= t('order.editing')

- form_for([:admin, @order]) do |f|
  = render :partial => 'form', :locals => {:f => f, :bt_name => t('update')}

= link_to_back admin_orders_path
= link_to_edit edit_admin_order_path(@order)
