<div id="assets">
	<% unless @category.nil? %>
			<% assets.each do |asset| %>
				<div class="asset">
					<% unless asset.pictureUri.blank? %>
						<%= image_tag asset.pictureUri %><br />
					<% end %>
					<%= asset.name %><br />
					<%= link_to '(add to cart)', new_cart_path(:asset_id => asset.id) %>
				</div>
			<% end %>
	<% end %>
</div>	
