-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2013 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

%p
  Lorsqu'une commande est passée via notre boutique, une fois le devis effectué, vous avez DEUX SEMAINES pour le valider (ou le refuser). Passé ce délai, la commande sera annulée par nos soins : le devis ne correspondant plus du tout à la réalité du marché.

%p
  Libre à vous dans ce cas de repasser une commande similaire, qui fera l'objet d'un nouveau devis.

%p
  Lorsqu'un devis est validé, nous ne pouvons pas vous garantir quelque délai que ce soit : c'est fonction des stocks et des joueurs. Ne perdons pas de vue que ceci est un jeu, pas un travail. Il faut tout de même savoir que, sauf commande exceptionnellement énormissime, nous dépassons rarement les trois semaines d'attente. La plupart des commandes étant prêtes les jours qui suivent la validation du devis.

%p
  Si une commande est annoncée comme étant livrable (c'est à dire que vous avez reçu un mail pour dire : c'est prêêêêêêêêt !) : vous avez DEUX SEMAINES pour vous signaler à nous.

%p
  Comme stipulé sur l'autre sujet de la section, c'est à VOUS de nous contacter : comme ça, on peut livrer quand ça VOUS arrange (enfin, dans la mesure du possible).

%p
  Soit vous prenez la commande à ce moment là, soit vous nous précisez que vous ne pourrez la prendre que plus tard (dans ce cas, merci de nous donner un ordre d'idée du délai).

%p
  Passés ces délais, la commande sera supprimée par nos soins : nous ne pouvons pas bloquer des stocks qui pourraient servir à d'autre joueurs qui eux, valident et payent en temps et en heure.

%p
  Dans tous les cas, rien ne vous empêche de repasser commande si la votre a été annulée pour l'une ou l'autre raison.

%p
  Dès que votre commande est notée comme étant en attente de livraison, il vous suffit de mp l'une des personnes suivantes :

%ul
  %li Zabouchon (zabouchonbiz *)
  %li Baguf (bagubiz *)
  %li Oryanne (helori *)

%p
  Ce sont les personnes les plus souvent connectées et donc les plus à même de vous livrer votre commande.

%p
  Si toutefois elles n'étaient pas connectées, ce qui peut arriver, merci de créer un sujet sur notre forum avec vos possibilité horaires et surtout, le numéro de votre commande, histoire qu'on s'arrange pour se croiser in game.

%p
  Merci de votre compréhension.
