-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2013 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

%h2
  Welcome in our shop

%p
  When an order is placed through our shop, once the estimate is made, you have TWO WEEKS to validate (or reject) it. After this period, the order will be canceled by us: the estimate would not correspond to the market reality anymore. In case the estimate is canceled, you can always make a new similar order, from which a new estimate will be made.

%p
  When an estimate is validated, we can not guarantee you any delay whatsoever: it is based on inventory and players. Do not lose sight that this is a game, not a job. You must still be aware that, unless there is an exceptionally gigantic order, we rarely go beyond three weeks of waiting. Most orders are ready the day after the validation of the estimate.

%p
  If an order is announced as being available (ie you received an email to say it's ready!) you have TWO WEEKS to come back to us.

%p
  It is up to YOU to contact us: that way we can deliver when it suits you (well, as far as possible).

%p
  Either you take your order at that point, either you tell us that you can not take it until later (in this case, please give us an idea of the delay).

%p
  Passed this deadline, the order will be deleted by us: we can not block stocks that could be used for other players who validate and pay in a timely manner.

%p
  In any case, nothing prevents you to order again in case your order was canceled for one reason or another.

%p
  Once your order is listed as awaiting delivery, just mp one of the following persons:

%ul
  %li Zabouchon (*zabouchonbiz)
  %li Baguf (*bagubiz)
  %li Dyddle (*helori)

%p
  These are the people most often connected and therefore more able to deliver your order.

%p
  If however they were not connected, what can happen, thank you for creating a topic on our
  = link_to 'forum', 'http://forum.hyze.fr', target: '_blank'
  with your potential schedules and most importantly, your order number, so that we manage to cross eachother on game.

%p
  Thank you for your understanding.
