<table>
  <col />
	<col width="100%" />
	<thead>
		<tr>
			<th><%= Order.human_attribute_name('id') %></th>
			<th><%= Order.human_attribute_name('state') %></th>
			<th><%= t('order.actions') %></th>
	  </tr>
	</thead>
	<tbody>
		<% orders.each do |order| -%>
			<%= render :partial => 'orders_row', :locals => { :order => order } %>
		<% end -%>
	</tbody>
</table>

