%p
  Si vous avez perdu votre mot de passe ou votre identifiant de compte, vous
  pouvez remplir le formulaire ci-dessous avec votre adresse e-mail afin que
  nous vous envoyions votre identifiant et un nouveau mot de passe.
