= render :partial => 'passwordResetSpeech'

- form_tag passwordReset_path, :method => :post do
  %p
    = label_tag :email, User.human_attribute_name('email')
    = text_field_tag :email

  %p
    = submit_tag t('user.sendMeMyIds'), :name => 'reset'
