<% content_for :sidebar do %>
	<% block :title => 'User' do %>
			<ul>
				<li><%= link_to 'Infos' , user_path %></li>
				<% if user_session.user.gatherer %>
					<li><%= link_to 'Deposites' , deposites_path %></li>
				<% end %>
			</ul>
	<% end %>
<% end %>
