<% content_for :sidebar do %>	
<% block :title => t('user.block') do %>
			<ul>
				<li><%= link_to t('user.infos') , user_path %></li>
				<% if user_session.user.gatherer %>
					<li><%= link_to Deposite.human_name , deposites_path %></li>
				<% end %>
			</ul>
	<% end %>
<% end %>
