<table id="order_lines">
	<thead>
		<tr>
			<th>Asset</th>
			<th>Quantity</th>
			<th>Unitary Price</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		<% order.orderLines.each do |orderLine| %>
		  <%= render :partial => 'admin/order_lines/row', :locals => { :order_line => orderLine } %>
		<% end %>
	</tbody>
</table>