<table>
	<col width="100%" />
	<thead>
		<tr>
			<th>Asset</th>
			<th class="number">Quantity</th>
			<th class="currency">Price</th>
		</tr>
	</thead>
	<tbody>
		<% order.orderLines.each do |order_line| %>
			<%= render :partial => 'orders/row', :locals => { :order_line => order_line } %>
		<% end %>
	</tbody>
</table>
