common: &common
  adapter: postgresql
  pool: 5
  timeout: 5000
  host: localhost
  # username: <username>
  # password: <password>

development:
  <<: *common
  database: boutique_dev

production:
  <<: *common
  database: boutique

test: &test
  <<: *common
  database: boutique_test
