<table>
	<thead>
  <tr>
    <th><%= Guild.human_attribute_name('name') %></th>
    <th><%= Guild.human_attribute_name('pictureUri') %></th>
		<th><%= t('action').pluralize %></th>
  </tr>
	</thead>
	<tbody>
		<% guilds.each do |guild| %>
		  <%= render :partial => 'admin/guilds/row', :locals => { :guild => guild } %>
		<% end %>
	</tbody>
</table>
