<p>
  <b>Name:</b>
  <%=h @guild.name %>
</p>

<p>
  <b>Pictureuri:</b>
  <%=h @guild.pictureUri %>
</p>


<%= link_to 'Edit', edit_admin_guild_path(@guild) %> |
<%= link_to 'Back', admin_guilds_path %>
