<table>
	<col width="100%" />
	<thead>
		<tr>
			<th><%= User.human_name %></th>
			<th><%= Asset.human_name %></th>
			<th><%= Deposit.human_attribute_name('quantity') %></th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'admin/deposits/row', :collection => deposits, :as => :deposit %>
	</tbody>
</table>
