= content_title t('deposit.listing')

= render :partial => 'admin/deposits/filter'

= render :partial => 'table', :locals => { :deposits => @deposits }

%p= link_to t('deposit.new'), new_admin_deposit_path
