<table>
	<thead>
	  <tr>
	    <th><%= Category.human_attribute_name('name') %></th>
			<th><%= Category.human_attribute_name('parent') %></th>
			<th><%= Category.human_attribute_name('pictureUri') %></th>
	  </tr>
	</thead>
	<tbody>
		<% categories.each do |category| %>
		  <%= render :partial => 'admin/categories/row', :locals => { :category => category } %>
		<% end %>
	</tbody>
</table>
