<table>
	<thead>
	  <tr>
	    <th>Name</th>
			<th>Parent category</th>
			<th>PictureUri</th>
	  </tr>
	</thead>
	<tbody>
		<% categories.each do |category| %>
		  <%= render :partial => 'admin/categories/row', :locals => { :category => category } %>
		<% end %>
	</tbody>
</table>
