%h2= t('category.editing')

- form_for([:admin, @category]) do |f|
  = render :partial => 'form', :locals => { :f => f, :bt_name => t('update') }

= link_to_back admin_categories_path
= link_to_show [:admin, @category]
