<h1><%= t('category.editing') %></h1>

<% form_for([:admin, @category]) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :bt_name => 'Update' } %>
<% end %>

<%= link_to t('show'), [:admin, @category] %> |
<%= link_to t('back'), admin_categories_path %>
