= content_title t('category.listing')

= render :partial => 'table', :locals => { :categories => @categories }

%br
= link_to_add new_admin_category_path, :text => t('category.new'), :format => :long
