<h1><%= t('category.new') %></h1>

<% form_for([:admin, @category]) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :bt_name => t('create') } %>
<% end %>

<%= link_to t('back'), admin_categories_path %>
