<table>
	<col width="100%" />
	<thead>
		<tr>
			<th><%= User.human_name %></th>
			<th><%= Asset.human_name %></th>
			<th><%= Deposite.human_attribute_name('quantity') %></th>
		</tr>
	</thead>
	<tbody>
		<% deposites.each do |deposite| %>
			<%= render :partial => 'admin/deposites/row', :locals => { :deposite => deposite } %>
		<% end %>
	</tbody>
</table>
