$color1: #ffffff
$color2: #000000
$color3: #a19062
$color4: #3f3720
$color5: #696464

$global_width: 822px

@import 'share/default.css.sass'
@import 'share/layout.css.sass'
@import 'share/tables.css.sass'
@import 'share/menus.css.sass'
@import 'share/footer.css.sass'
@import 'share/flash_messages.css.sass'
@import 'share/blocks.css.sass'
@import 'share/forms.css.sass'

@import 'public/user.css.sass'

#header
  height: 250px

  background:
    image: url('/assets/header/tribal.jpg')
    repeat: no-repeat
    position: center

h1
  position: relative
  left: 400px
  top: 50px
  width: 400px
  height: 150px
  text-align: center

/* Categories

#categories
  width: 100%

.category
  text-align: center

/* Assets

.asset
  float: left
  margin: 5px
  min-height: 115px
  min-width: 175px
  max-width: 175px
  border-style: solid
  border-width: thin
  border-color: #696464
  text-align: center
