- assets.each do |asset|
  %div.asset
    - unless asset.pictureUri.blank?
      = image_tag asset.pictureUri
      %br

    = asset.name
    %br
    = link_to t('cart.add'), new_cart_path(:asset_id => asset.id)
