<tr class="deposite">
	<% new_or_existing = deposite.new_record? ? 'new' : 'existing' -%>
	<% prefix = "user[#{new_or_existing}_deposite_attributes][]" -%>

	<% fields_for prefix, deposite do |f| -%>
		<td>
      <%= f.collection_select(:asset_id, Asset.find(:all), :id, :name) %>
    </td>
		<td class="number">
      <%= deposite.quantity || 0 %>
		</td>
		<td>
			+ <%= f.text_field :addQuantity %>
    </td>
		<td>
		  <%= link_to_function 'Remove this deposite' , "$(this).up('.deposite').remove()" %>
		</td>
	<% end -%>
</tr>
