<table>
  <col width="100%" />
	<thead>
		<tr>
	    <th>Asset</th>
	    <th>Quantity</th>
	  </tr>
	</thead>
	<tbody>
    <% deposit_table.each do |deposit| %>
      <tr class="<%= cycle('even', 'odd')%>">
        <td><%=h deposit.asset.name %></td>
        <td class="number"><%=h deposit.quantity %></td>
      </tr>
    <% end %>
	</tbody>
</table>
