<table>
  <col width="100%" />
	<thead>
		<tr>
	    <th>Asset</th>
	    <th>Quantity</th>
	  </tr>
	</thead>
	<tbody>
    <%= render :partial => 'deposit_row', :collection => deposit_table, :as => :deposit %>
	</tbody>
</table>
