%table
  %col{ :width => '100%' }
  %thead>
    %tr>
      %th Asset
      %th Quantity

  %body
    - deposits.each do |deposit|
      %tr{ :class => "#{cycle('even', 'odd')}" }
        %td= deposit.asset.name
        %td.number= deposit.quantity
