<h2><%= t('user.listing') %></h2>

<%= render :partial => 'admin/users/table', :locals => { :users => @users } %>

<br />

<%= link_to_add new_admin_user_path, :text => t('user.new'), :format => :long %>
