<h2><%= t('user.new') %></h2>

<% form_for([:admin, @user], :builder => CustomFormBuilder) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :bt_name => t('create') } %>
<% end %>

<%= link_to_back admin_users_path %>
