= "Bonjour #{@resource.name} !"

Quelqu'un a demandé un changement de votre mot de passe.
Si vous souhaitez effectuer ce changement, veuillez copier le lien ci-dessous et le coller dans votre navigateur.

= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :locale => 'fr').html_safe

Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer cette e-mail.
Votre mot de passe ne sera pas changé tant que vous n'aurez pas cliqué sur le lien ci-dessus.
