%p= 'Bonjour #{@resource.name} !'

%p Quelqu'un à demander un changment de votre mot de passe, vous pouvez effectuer ce changement en cliquant sur le lien ci-dessous.

%p= link_to 'Modifier mon mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer cette e-mail.
%p Votre mot de passe ne sera pas changer tant que vous n'aurez pas cliquer sur le lien ci-dessus.
