%p= "Bonjour #{@resource.name} !"

%p Quelqu'un a demandé un changement de votre mot de passe, vous pouvez effectuer ce changement en cliquant sur le lien ci-dessous.

%p= link_to 'Modifier mon mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :locale => 'fr')

%p Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer cette e-mail.
%p Votre mot de passe ne sera pas changé tant que vous n'aurez pas cliqué sur le lien ci-dessus.
