%p= "Bonjour #{@resource.name} !"

%p Votre compte à été bloqué à cause d'un nombre trop important d'échec d'authentification.

%p Veuillez cliquer sur le lien ci-dessous afin de débloquer votre compte :

%p= link_to 'Débloquer mon compte', unlock_url(@resource, :unlock_token => @resource.unlock_token)
